[submodule "mgear_3.2.0"]
	path = mgear_3.2.0
	url = https://github.com/divyanshuarora-92/submodule.git
	branch = 3.2.0
[submodule "mgear_4.2.5"]
	path = mgear_4.2.5
	url = https://github.com/divyanshuarora-92/submodule.git
	branch = 4.2.5
